body{
	background:
		linear-gradient(
			rgba(65,65,65,0.7),
			rgba(65,65,65,0.7)
    	), url("../src/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	text-align: center;
	font-weight: 100;
	color: white;
	margin-top: 10%;
	margin:0px 0px 0px 0px;
	font-family: 'Oswald';

}

}
.overlay_color{
	height: 100vh;
	width: 100%;
	background-color: rgba(238,50,36,0.2);
	background-size: 100%;
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -15;
}

h1{
	text-transform: uppercase;
	font-weight: 100;
	font-size: 50px;
	margin: 20px 0px 100px;
}

h2{
	font-weight: 100;
	font-size: 20px;
	text-transform: uppercase;
	margin: 40px 0px 20px;
}

h2:after {
	content: '';
	display: block;
	background: white;
	height: 3px;
	max-width: 35px;
	width: 100%;
	margin: 0 auto;
}

#clockdiv{
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 48pt;
}

#clockdiv > div{
	padding: 10px;
	display: inline-block;
}

#clockdiv div > span{
	padding: 30px;
	display: inline-block;
}

.legenda{
	display: inline-block;
	text-transform: uppercase;
	font-size: 16px;
}

#logo{
	width: 80px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 90vh;
	left: 48%;
}
.title{
	color: white;
	margin-top: 40px;
	font-size: 42pt;
	font-weight: 700;
}
.subtitle{
	color: white;
	font-size: 22pt;
	font-weight: 300;

}
.numbers{
	font-weight: 700;
	font-weight: 32pt;
}