body{
	text-align: center;
	font-family: 'Oswald';
	font-weight: 100;
	color: white;

	position: absolute;
	width: 100vw;
    height: 100%;
    margin: 0px;
	background:
		linear-gradient(
			rgba(65,65,65,0.7),
			rgba(65,65,65,0.7)
    	), url("../img/background.png");
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center; 
    background-attachment: fixed;
    vertical-align: middle;
}

.overlay_color{
	height: 100vh;
	width: 100%;
	background-color: rgba(238,50,36,0.2);
	background-size: 100%;
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -15;
	-webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s;
}
.overlay{
	height: 100vh;
	width: 100%;
	background-color: rgba(65,65,65,0.7);
	background-size: 100%;
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -10;
}

h1{
	text-transform: uppercase;
	font-weight: 100;
	font-size: 50px;
	margin: 20px 0px 20px;
}

.principal{
	font-weight: 400;
	font-size: 28pt;
	text-transform: uppercase;
	margin: 5px 0px 0px;
    font-family: 'Oswald';
}

.secundario{
    font-weight: 300;
    font-size: 16pt;
	text-transform: uppercase;
    margin: 5px 0px 0px 0px;
}
.precos{
     font-weight: 300;
    font-size: 13pt;
    margin: 2px 0px 0px 0px;
    
}

#precos{
    position: absolute;
    top:65vh;
    text-align: center;
    width: 100%;
}
/*
#bandas:after {
	content: '';
	display: block;
	background:rgb(238,50,36);
	height: 3px;
	max-width: 35px;
	width: 100%;
	margin-top: 6%;
    margin-right: auto;
    margin-left: auto;
}
*/


#clockdiv{
	display: inline-block;
	font-weight: 300;
	text-align: center;
	font-size: 48pt;
}

#clockdiv > div{
	padding: 10px;
	display: inline-block;
}

#clockdiv div > span{
	padding: 30px;
	display: inline-block;
}

.legenda{
	display: inline-block;
	text-transform: uppercase;
	font-size: 16px;
}

#logo{
	width: 14%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 90vh;
	left: 43%;
}
.title{
	color: white;
	margin-top: 40px;
	font-size: 42pt;
	font-weight: 700;
}
.border{
    height: 0px;
    width: 4%;
    margin-left: 48%;
    margin-right: 48%;

    margin-top: 20px;
    padding-top: 30px;
    margin-bottom: 10px;

  	border-bottom: 3px solid rgb(238,50,36);
  	display: block;
  	position: relative;

}
.subtitle{
	color: white;
	font-size: 22pt;
	font-weight: 300;

}
.numbers{
	font-weight: 700;
	font-weight: 32pt;
}
#dias{
    position: absolute;
    text-align: right;
    right: 0;
    display: block;
    padding: 10px 30px 10px 10px;
    top: 34vh;
    width: 150px;
}
.dias{
	color: white;
    width: 100%;
    font-weight: 400;
    font-size: 12pt;
    display: block;
    text-transform: uppercase;
    padding: 2px;
    text-decoration: none;
}
.dias:hover{
    cursor: pointer;
    color: gray;
}
.dia_selected{
    text-decoration: underline;
    -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s;
}
